<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="Logging"
             type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="TransportConfig"
             type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
  </configSections>
  <Logging Threshold="Info" />
  <appSettings>
    <add key="NServiceBus/Persistence/NHibernate/default_schema" value="workflow" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport"                           connectionString="Data Source=(localdb)\v11.0;Initial Catalog=issue90;Integrated Security=True;App=Transport"/>
    <add name="NServiceBus/Transport/error"                     connectionString="Data Source=(localdb)\v11.0;Initial Catalog=issue90;Integrated Security=True;App=ServiceControl;Queue Schema=dbo"/>
    <add name="NServiceBus/Transport/audit"                     connectionString="Data Source=(localdb)\v11.0;Initial Catalog=issue90;Integrated Security=True;App=ServiceControl;Queue Schema=dbo"/>
    <add name="NServiceBus/Transport/Particular.ServiceControl" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=issue90;Integrated Security=True;App=ServiceControl;Queue Schema=dbo" />
    <!--D-03019: Timeout connection string text must be different than the transport connection string to ensure NSB TimeoutPersister is not using the same connection as the transport-->
    <add name="NServiceBus/Persistence/NHibernate/Timeout"      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=issue90;Integrated Security=True;App=Persistence" />
    <add name="NServiceBus/Persistence/NHibernate/Saga"         connectionString="Data Source=(localdb)\v11.0;Initial Catalog=issue90;Integrated Security=True;App=Persistence" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <TransportConfig MaximumConcurrencyLevel="5"
                   MaxRetries="5"
                   MaximumMessageThroughputPerSecond="0"/>
  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:10:00" NumberOfRetries="5" />
  <!--<UnicastBusConfig>
    <MessageEndpointMappings>
      <add 
        Assembly="Shared" 
        Endpoint="Receiver" />
    </MessageEndpointMappings>
  </UnicastBusConfig>-->
  <!--<AuditConfig QueueName="audit" />-->
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
